In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/Lenovo/Desktop/refined_projects/House-Price-Predictor/data/train.csv')
df_v = pd.read_csv('C:/Users/Lenovo/Desktop/refined_projects/House-Price-Predictor/data/validation.csv')
df_t = pd.read_csv('C:/Users/Lenovo/Desktop/refined_projects/House-Price-Predictor/data/test.csv')

Categorical value handling

In [4]:
categorical_features = [ feature for feature in df.columns if df[feature].dtype == 'object']
categorical_features = [feature for feature in categorical_features if feature != 'furnishingstatus']
print(categorical_features)

['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']

In [5]:
binary_mapping = {'yes':1, 'no':0}
df_names = [df, df_v, df_t]

for df_name in df_names:
    for feature in categorical_features:
        df_name[feature] = df_name[feature].map(binary_mapping)

In [6]:
#ordinal encoding for furnishingstatus
furnishing_mapping = {"unfurnished": 0, "semi-furnished": 1, "furnished": 2}
for df_name in df_names:
    df_name["furnishingstatus"] = df_name["furnishingstatus"].map(furnishing_mapping)

In [7]:
df.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,price
0,9800,4,2,2,1,1,0,0,0,2,0,1,5250000
1,6540,4,2,2,1,1,1,0,1,2,1,2,8540000
2,3520,2,1,2,1,0,0,0,0,0,1,2,4515000
3,8250,3,1,1,1,0,0,0,0,0,0,2,4480000
4,3180,4,1,2,1,0,1,0,1,0,0,0,3290000

In [14]:
for df_name in df_names:
    df_name['area'] = np.log1p(df_name['area'])
    df_name['bedrooms'] = np.log1p(df_name['bedrooms'])
    df_name['price'] = np.log1p(df_name['price'])

In [15]:
df.to_csv('C:/Users/Lenovo/Desktop/refined_projects/House-Price-Predictor/data/cleaned_train.csv', index=False)
df_v.to_csv('C:/Users/Lenovo/Desktop/refined_projects/House-Price-Predictor/data/cleaned_validation.csv', index=False)
df_t.to_csv('C:/Users/Lenovo/Desktop/refined_projects/House-Price-Predictor/data/cleaned_test.csv', index=False)